* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; // to reset everything.
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 36px;
  color: #283d50;
  margin-bottom: 60px;
}

h3 {
  color: #444;
  font-size: 24px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  margin-bottom: 8px;
  color: #283d50;
}

// nav
header {
  height: 75px;
  width: 100%;
  position: fixed;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);

  nav {
    display: flex;
    align-items: center;
    padding: 25px 10px;

    img {
      height: 25px;
    }

    ul {
      flex: 1;
      display: none;
      @media (min-width: 800px) {
        display: flex;
        justify-content: flex-end;
      }

      a {
        color: #004289;
        font-size: 14px;
        font-weight: 500;
        padding: 0 15px;
        margin-left: 15px;
      }
    }
  }
}

// hero section
.hero {
  padding: 150px 0px;
  background: url("/img/intro-bg.png") center bottom no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  .flex-row {
    padding: 0 32px;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1000px) {
      flex-direction: row;
    }
  }

  h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 32px;
    text-align: center;
    @media (min-width: 1000px) {
      text-align: initial;
      font-size: 48px;
    }
  }

  .left {
    flex: 1;
    order: 2;
    justify-content: center;
    align-items: center;
    @media (min-width: 1000px) {
      order: 1;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1000px) {
      flex-direction: row;
    }

    .btn {
      text-align: center;
      width: 200px;
      margin-bottom: 16px;
      @media (min-width: 1000px) {
        margin-right: 16px;
      }
    }
  }

  img {
    flex: 1;
    order: 1;
    width: 50%;
    @media (mix-width: 1000px) {
      order: 2;
    }
  }
}

// Utility classes
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex-row {
  display: flex;
}

.btn {
  cursor: pointer;
  display: inline-block; // block: not affect with width, height, block: add a new line for each element.
  padding: 14px 40px;
  background-color: #077bff;
  border-radius: 45px;
  color: #fff;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 500ms ease all;

  &:hover {
    background-color: transparent;
    border-color: #fff;
  }
}

.btn-light {
  background-color: transparent;
  border-color: #fff;

  &:hover {
    background-color: #077bff;
  }
}
